/* * ============================== HERO ============================== */

.hero__container * {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.2rem;
}
