.categories__container h2 {
  margin: 1rem 0 3rem;
}

.categories__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.categories__card {
  height: fit-content;
  border-radius: 1.6rem;
  overflow: hidden;
  text-align: center;
  transition: var(--transition);
}

.categories__card:hover {
  transform: scale(1.1);
}

.categories__card h4 {
  background-color: var(--color-primary);
  color: #fff;
  padding: 1rem 0;
}

.categories__card-image img {
  height: 170px;
}

/* * ============================== MEDIA QUERIES ============================== */
@media screen and (max-width: 1024px) {
  .categories__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 565px) {
  .categories__cards {
    grid-template-columns: 1fr;
  }
}
