.banner__image {
  background: url(../../assets/banner-bg.jpg) no-repeat center center/cover;
  border-radius: 0 0 5rem 5rem;
  padding: 10rem 0 5rem;
}

.hero__content * {
  color: #fff;
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: start;
  gap: 2rem;
}

.hero__left h2 {
  margin: 1rem 0 2.5rem;
  line-height: 3.5rem;
}

.hero__left p {
  margin-bottom: 4.4rem;
}

.hero__left .search__input {
  position: relative;
  width: 80%;
}

.hero__left button {
  position: absolute;
  right: 0;
}

.hero__right {
  justify-self: end;
}

.hero__right img {
  height: 27rem;
  border-radius: 1.6rem;
}

/* * ============================== MEDIA QUERIES ============================== */
@media screen and (max-width: 864px) {
  .hero__content {
    grid-template-columns: 1fr;
    place-items: center;
    gap: 4rem;
  }

  .hero__left {
    text-align: center;
  }

  .hero__left .search__input {
    margin: 0 auto;
  }

  .hero__right {
    justify-self: center;
  }
}

@media screen and (max-width: 500px) {
  .hero__right .offer__badge {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    font-size: 1.2rem;
    bottom: 1rem;
    left: 1rem;
  }
}
