.features {
  position: relative;
}

.features__container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.feature__item {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding: 2.2rem;
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.15);
  border-radius: 1.6rem;
  background-color: #fff;
  text-align: center;
}

.feature__item h4 {
  margin-top: 1.6rem;
}

.feature__item span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background-color: var(--color-primary);
  border-radius: 50%;
  transition: var(--transition);
}

.feature__item span:hover {
  background: var(--color-primary-variant);
}

/* * ============================== MEDIA QUERIES ============================== */
@media screen and (max-width: 864px) {
  .features__container {
    grid-template-columns: repeat(2, 1fr);
    bottom: -1rem;
  }
}

@media screen and (max-width: 500px) {
  .features {
    display: none;
  }
}
